.advantages {
  .container();
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 65px;
}

.advantages__title {
  .text-25-30();
  text-align: left;
}

.advantages__list {
  .style-none();
}

.advantages__item {
  margin-top: 83px;
}

.advantages__description {
  .text-17-20();
  text-align: left;
}

.advantages__item--nature {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: url('../img/icon-1.svg') no-repeat;
    width: 32px;
    height: 37px;
    left: 8px;
    top: -54px;
  }
}

.advantages__item--cash {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: url('../img/icon-2.svg') no-repeat;
    width: 47px;
    height: 27px;
    left: 0px;
    top: -53px;
  }
}

.advantages__item--likes {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: url('../img/icon-3.svg') no-repeat;
    width: 34px;
    height: 27px;
    left: 7px;
    top: -48px;
  }
}

.advantages__item--handmade {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: url('../img/icon-4.svg') no-repeat;
    width: 35px;
    height: 34px;
    left: 3px;
    top: -51px;
  }
}

.advantages__item--domestic {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: url('../img/icon-5.svg') no-repeat;
    width: 55px;
    height: 23px;
    left: -6px;
    top: -49px;
  }
}

.advantages__item--packaging {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: url('../img/icon-6.svg') no-repeat;
    width: 33px;
    height: 32px;
    left: 3px;
    top: -52px;
  }
}
