.contacts {
  .container();
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  padding-left: 30px;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.contacts__email {
  color: @light-black;
  text-align: left;
  padding-left: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    min-height: 90px;
    margin: 0;
    padding-left: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.contacts__email-address {
  color: @light-black;
  border-bottom: 1px solid @light-green-2;
  padding-bottom: 3px;
  margin-left: 20px;
  transition: all 200ms ease;

  &:hover,
  &focus {
    color: @light-green-3;
    border-bottom: 1px solid @light-green-3;
  }

  &:active {
    border-bottom: 1px solid @light-green-3-opacity;
  }
}

.contacts__adress-wrapper {
  display: flex;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    width: 339px;
    min-height: 90px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.contacts__address {
  padding-left: 30px;
  margin: 0;
}

.contacts__address-fact {
  width: 155px;
  font-style: normal;
  text-align: left;
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    width: 200px;
  }
}

.contacts__map-wrapper {
  position: relative;
  display: block;
  background-color: @photo-bg;
  box-sizing: border-box;
  height: 457px;

  &::before {
    display: inline-block;
    position: absolute;
    content: "";
    background: url("../img/map-pin.svg") no-repeat;
    width: 67px;
    height: 100px;
    bottom: 222px;
    left: 138px;

    @media (min-width: @tablet-width) {
      left: 338px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}

.contacts__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
