.page-footer {
  background-color: @catalog-bg;
  padding-top: 27px;
  padding-bottom: 1px;
}

.page-footer__wrapper {
  position: relative;
  .container();
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 143px;
  }
}

.page-footer__logo {
  display: none;

  :hover,
  :focus {
    fill: @light-green-3;
  }

  :active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin-right: auto;
    align-self: center;
    margin-bottom: 40px;
  }
}

.social {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }
}

.social__list {
  .style-none();
  display: flex;
  margin-left: 57px;
  margin-right: 62px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 150px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 265px;
    width: 130px;
  }
}

.social__link {
  &:hover,
  &:focus {
    fill: @light-green-3;
  }

  &:active {
    opacity: 0.3;
  }
}
