.page-footer {
  background-color: @catalog-bg;
  padding-top: 27px;
  padding-bottom: 1px;
}

.page-footer__wrapper {
  position: relative;
  .container();
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 143px;
  }
}

.page-footer__logo {
  display: none;

  :hover,
  :focus {
    fill: @light-green-3;
  }

  :active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin-right: auto;
    align-self: center;
    margin-bottom: 40px;
  }
}
