.production {
  .container();
  box-sizing: border-box;
  min-height: 503px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -10px;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

.production__wrapper {
  position: relative;
  border: 1px solid @product-week-border;
  padding-bottom: 33px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.production__title {
  position: relative;
  display: block;
  width: 156px;
  text-align: left;
  margin-left: 91px;
  margin-bottom: 25px;
  .text-17-24();

  &::before {
    content: "";
    position: absolute;
    background: url("../img/video.svg") no-repeat;
    width: 32px;
    height: 22px;
    left: -57px;
    top: 12px;

    @media (min-width: @tablet-width) {
      top: -3px;
      left: -65px;
    }

    @media (min-width: @desktop-width) {
      top: -50px;
      left: 0;
    }
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 271px;
    margin-left: 105px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 178px;
    margin-top: 93px;
    margin-left: 62px;
    margin-bottom: 0;
  }
}

.production__video {
  position: relative;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 668px;
    height: 455px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 682px;
    height: 455px;
  }
}

.production__video-img {
  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    width: 682px;
    height: 455px;
  }
}

.production__video-play {
  position: absolute;
  background: url("../img/icon-play.svg") no-repeat;
  width: 101px;
  height: 77px;
  top: 50%;
  left: 50%;
  border: none;
  outline: none;
  transition: all 200ms ease;
  transform: translate(-50%, -50%);

  &:hover {
    background: url("../img/play-2.svg") no-repeat;
    width: 121px;
    height: 92px;
    transform: translate(-50%, -50%) scale(1.2);
  }

  @media (min-width: @tablet-width) {
  }
}

.production__description {
  text-align: left;
  margin-left: 34px;
  margin-top: 27px;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 24px;
  color: @light-black;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 611px;
    margin-top: 0;
    margin-left: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 252px;
    margin-left: 60px;
    margin-bottom: 20px;
  }
}

.production__button {
  width: 192px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 16px;
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 584px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 230px;
    margin-bottom: 55px;
  }
}
