.product-week {
  .container();
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 36px;

  &::after {
    position: absolute;
    content: "";
    background: url("../img/zig-zag.svg") no-repeat;
    width: 320px;
    height: 6px;
    bottom: -39px;
    left: 0;

    @media (min-width: @tablet-width) {
      background: url("../img/zigzag-tablet.svg") no-repeat;
      width: 772px;
      height: 17px;
      bottom: -65px;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      background: url("../img/zigzag-line-desktop.svg") no-repeat;
      width: 1250px;
      height: 34px;
      bottom: -105px;
      left: 50px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 80px;
  }
}

.product-week__label {
  .text-25-30();
  width: 260px;
  text-align: left;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    width: 450px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    margin: 0;
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 545px;
    grid-column-start: 2;
    grid-column-end: 5;
    z-index: 10px;
  }
}

.product-week__title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  color: @light-green;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    line-height: 17px;
    width: 100px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    margin-top: 46px;
    margin-left: 12px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 30px;
  }
}

.product-week__description {
  line-height: 24px;
  width: 250px;
  text-align: left;
  color: @light-black;
  margin: 0;
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 292px;
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.product-week__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    line-height: 20px;
    font-size: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 292px;
    margin-top: 45px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 55px;
  }
}

.product-week__item {
  display: flex;
  border-bottom: 1px solid @product-week-border;
  color: @light-black;
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 8px;
  }
}

.product-week__property {
  width: 97px;
  text-align: left;
}

.product-week__value {
  margin-left: 0;
}

.product-week__img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  background-color: @photo-bg;

  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    z-index: -10;
  }
}

.product-week__price {
  .text-17-24();
  margin-top: 16px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    line-height: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 172px;
    margin-left: 57px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 93px;
    margin-left: 60px;
  }
}

.button {
  color: @light-black;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  width: 259px;
  height: 52px;
  border: 2px solid @light-black;
  padding-top: 14px;
  box-sizing: border-box;
  transition: all 300ms ease;

  &:hover,
  &:focus {
    background-color: @light-black;
    color: @main-background-color;
  }

  &:active {
    color: @white-opacity;
  }

  @media (min-width: @tablet-width) {
    width: 292px;
    font-size: 17px;
  }
}

.product-week__button-order {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
