.reviews {
  .container();
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 50px;
  margin-bottom: 45px;

  &::after {
    position: absolute;
    content: "";
    background: url("../img/zig-zag.svg") no-repeat;
    width: 320px;
    height: 6px;
    bottom: -36px;
    left: 10px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;

    &::before {
      position: absolute;
      content: "";
      background: url("../img/review@1x.jpg") no-repeat;
      width: 350px;
      height: 457px;
      bottom: 0px;
      left: 0px;
      z-index: -20;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 225px;
  }
}

.reviews__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    min-height: 457px;
  }
}

.reviews__title {
  .text-25-30();
  text-align: left;
  margin-bottom: 14px;
}

.slider__item {
  margin: 0;
}

.reviews__description {
  color: @light-black;
  text-align: left;
  min-height: 270px;
  width: 250px;

  @media (min-width: @tablet-width) {
    width: 668px;
    min-height: 120px;
  }
}

.reviews__name {
  display: block;
  .text-17-24();
  text-align: left;
  font-style: normal;
}

.reviews__social {
  display: block;
  text-align: left;
  color: @light-black;
}

.reviews__toggles {
  display: flex;

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    position: absolute;
    bottom: 55px;
    right: 70px;
  }
}

.slider {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.reviews__button {
  width: 130px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid @product-week-border;
  background-color: @main-background-color;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}

.reviews__button--pre {
  background: url("../img/arrow-left.svg") no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button--next {
  background: url("../img/arrow-right.svg") no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button-write {
  @media (min-width: @tablet-width) {
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 35px;
  }
}
