.container() {
  width: 340px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.style-none() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-17-24() {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.text-25-30() {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.text-17-20() {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
